# 농업 가구 수

In [52]:
import pandas as pd
import json

# 지역별 농가 및 농가인구 데이터 읽기
df_sejong = pd.read_csv("../data/raw/농가_및_농가인구_세종.csv", skiprows=0)
df_gyeonggi = pd.read_csv("../data/raw/농가_및_농가인구_경기.csv", skiprows=0)
df_gangwon = pd.read_csv("../data/raw/농가_및_농가인구_강원.csv", skiprows=0)
df_chungbuk = pd.read_csv("../data/raw/농가_및_농가인구_충북.csv", skiprows=0)
df_chungnam = pd.read_csv("../data/raw/농가_및_농가인구_충남.csv", skiprows=0)
df_jeonbuk = pd.read_csv("../data/raw/농가_및_농가인구_전북.csv", skiprows=0)
df_jeonnam = pd.read_csv("../data/raw/농가_및_농가인구_전남.csv", skiprows=0)
df_gyeongbuk = pd.read_csv("../data/raw/농가_및_농가인구_경북.csv", skiprows=0)
df_gyeongnam = pd.read_csv("../data/raw/농가_및_농가인구_경남.csv", skiprows=0)
df_jeju = pd.read_csv("../data/raw/농가_및_농가인구_제주.csv")

In [53]:
print(df_gyeonggi.head())

   시군별(1)  시군별(2)     2023   2023.1   2023.2    2023.3    2023.4    2023.5
0  시군별(1)  시군별(2)  농가 (가구)  농가 (가구)  농가 (가구)  농가인구 (명)  농가인구 (명)  농가인구 (명)
1  시군별(1)  시군별(2)       소계       전업       겸업        소계        남자        여자
2      합계      소계   109629    53120    56509    264459    132166    132293
3      남부      소계    77087    37753    39331    183667     91374     92294
4      남부     수원시     3575      957     2619      9892      5039      4853

In [68]:
# 세종 데이터에서 농가수 추출
sejong_farm_count = df_sejong[df_sejong['항목'] == '농가수 (가구)']['2021'].iloc[0]

# 세종 테이블 생성
df_sejong_summary = pd.DataFrame({
    '지역': ['세종시'],
    '농가수': [sejong_farm_count]
})
# print(df_sejong_summary)

In [69]:
# 경기도 각 시/군별 데이터 추출 (소계 행만 제외)
gyeonggi_data = []
for _, row in df_gyeonggi.iterrows():
    if row.iloc[1] != '소계':  # 두 번째 칼럼이 '소계'가 아닌 행만
        region_name = f"경기 {row.iloc[1]}"  # "경기 수원시" 형태
        farm_count = row.iloc[2]  # 농가 소계
        gyeonggi_data.append({'지역': region_name, '농가수': farm_count})

# 경기도 테이블 생성
df_gyeonggi_summary = pd.DataFrame(gyeonggi_data)
print(df_gyeonggi_summary)

         지역   농가수
0    경기 수원시  3575
1    경기 성남시  1137
2    경기 안양시  1020
3    경기 부천시  1036
4    경기 광명시   648
5    경기 평택시  7946
6    경기 안산시  1659
7    경기 과천시   246
8    경기 오산시  1132
9    경기 시흥시  1321
10   경기 군포시   596
11   경기 의왕시   673
12   경기 하남시   719
13   경기 용인시  6913
14   경기 이천시  7908
15   경기 안성시  9421
16   경기 김포시  5187
17   경기 화성시  9819
18   경기 광주시  3928
19   경기 여주시  6398
20   경기 양평군  5805
21  경기 의정부시  1055
22  경기 동두천시   630
23   경기 고양시  5266
24   경기 구리시   437
25  경기 남양주시  3558
26   경기 파주시  7012
27   경기 양주시  3153
28   경기 포천시  5355
29   경기 연천군  2844
30   경기 가평군  3235

In [70]:
# 강원도 데이터 헤더 설정
df_gangwon.columns = ['시군별', '농가수_합계', '농가수_남자', '농가수_여자']
df_gangwon = df_gangwon.drop([0]).reset_index(drop=True)

# 강원도 각 시/군별 데이터 추출 (전체 제외)
gangwon_data = []
for _, row in df_gangwon.iterrows():
    if row.iloc[0] != '전체':  # 전체 행 제외
        region_name = f"강원 {row.iloc[0]}"  # "강원 춘천시", "강원 원주시" 형태
        farm_count = row.iloc[1]  # 농가수
        gangwon_data.append({'지역': region_name, '농가수': farm_count})

# 강원도 테이블 생성
df_gangwon_summary = pd.DataFrame(gangwon_data)
print(df_gangwon_summary)

        지역    농가수
0   강원 춘천시  14340
1   강원 원주시  19586
2   강원 강릉시  14787
3   강원 동해시   3713
4   강원 태백시   1379
5   강원 속초시   2441
6   강원 삼척시   7444
7   강원 홍천군  14183
8   강원 횡성군  11670
9   강원 영월군   6915
10  강원 평창군   8270
11  강원 정선군   4080
12  강원 철원군   7533
13  강원 화천군   3663
14  강원 양구군   3964
15  강원 인제군   5754
16  강원 고성군   4569
17  강원 양양군   5410

In [71]:
# 충북 데이터 헤더 설정
df_chungbuk.columns = ['시군별', '농가현황별1', '농가현황별2', '농가현황별3', '2020', '2021', '2022']

# 충북 각 시/군별 데이터 추출 (계 제외하고, 농가(가구) 소계 행만)
chungbuk_data = []
for _, row in df_chungbuk.iterrows():
    if (row.iloc[0] != '계' and 
        row.iloc[1] == '농가 (가구)' and 
        row.iloc[2] == '소계'):  # 농가수 소계 행만
        region_name = f"충북 {row.iloc[0]}"  # "충북 청주시" 형태
        farm_count = row.iloc[6]  # 2022년 데이터
        chungbuk_data.append({'지역': region_name, '농가수': farm_count})

# 충북 테이블 생성
df_chungbuk_summary = pd.DataFrame(chungbuk_data)
print(df_chungbuk_summary)

        지역    농가수
0   충북 청주시  17457
1   충북 충주시  10001
2   충북 제천시   6300
3   충북 보은군   4434
4   충북 옥천군   5256
5   충북 영동군   6567
6   충북 증평군   1397
7   충북 진천군   4479
8   충북 괴산군   5696
9   충북 음성군   6662
10  충북 단양군   3288

In [72]:
# 충남 데이터 헤더 설정
df_chungnam.columns = ['행정구역', '농가_소계', '농가_전업', '농가_겸업', '농가인구_소계', '농가인구_남', '농가인구_여']
df_chungnam = df_chungnam.drop([0, 1, 2, 3]).reset_index(drop=True)

# 충남 각 시/군별 데이터 추출 (합계 제외)
chungnam_data = []
for _, row in df_chungnam.iterrows():
    if row.iloc[0] != '합계':  # 합계 행 제외
        region_name = f"충남 {row.iloc[0]}"  # "충남 천안시" 형태
        farm_count = row.iloc[1]  # 농가 소계
        chungnam_data.append({'지역': region_name, '농가수': farm_count})

# 충남 테이블 생성
df_chungnam_summary = pd.DataFrame(chungnam_data)
print(df_chungnam_summary)

        지역    농가수
0   충남 서산시  10623
1   충남 논산시   9599
2   충남 계룡시    480
3   충남 당진시  10695
4   충남 금산군   6235
5   충남 부여군   7119
6   충남 서천군   6741
7   충남 청양군   5569
8   충남 홍성군   9365
9   충남 예산군   8486
10  충남 태안군   6895

In [73]:
# 전북 데이터 헤더 설정
df_jeonbuk.columns = ['행정구역', '농가_소계', '농가_전업', '농가_겸업', '농가인구_소계', '농가인구_남', '농가인구_여']
df_jeonbuk = df_jeonbuk.drop([0, 1]).reset_index(drop=True)

# 전북 각 시/군별 데이터 추출 (합계 제외)
jeonbuk_data = []
for _, row in df_jeonbuk.iterrows():
    if row.iloc[0] != '합계':  # 합계 행 제외
        region_name = f"전북 {row.iloc[0]}"  # "전북 전주시" 형태
        farm_count = row.iloc[1]  # 농가 소계
        jeonbuk_data.append({'지역': region_name, '농가수': farm_count})

# 전북 테이블 생성
df_jeonbuk_summary = pd.DataFrame(jeonbuk_data)
print(df_jeonbuk_summary)

        지역    농가수
0   전북 군산시   6558
1   전북 익산시  10674
2   전북 정읍시  10396
3   전북 남원시   7375
4   전북 김제시   7608
5   전북 완주군   7392
6   전북 진안군   3457
7   전북 무주군   3995
8   전북 장수군   3504
9   전북 임실군   3349
10  전북 순창군   4793
11  전북 고창군   7946
12  전북 부안군   6857

In [74]:
# 전남 데이터 헤더 설정
df_jeonnam.columns = ['행정구역', '농가_소계', '농가_전업', '농가_겸업', '농가인구_소계', '농가인구_남자', '농가인구_여자']
df_jeonnam = df_jeonnam.drop([0, 1]).reset_index(drop=True)

# 전남 각 시/군별 데이터 추출 (합계 제외)
jeonnam_data = []
for _, row in df_jeonnam.iterrows():
    if row.iloc[0] != '합계':  # 합계 행 제외
        region_name = f"전남 {row.iloc[0]}"  # "전남 목포시" 형태
        farm_count = row.iloc[1]  # 농가 소계
        jeonnam_data.append({'지역': region_name, '농가수': farm_count})

# 전남 테이블 생성
df_jeonnam_summary = pd.DataFrame(jeonnam_data)
print(df_jeonnam_summary)

        지역    농가수
0   전남 여수시   9023
1   전남 순천시  12664
2   전남 나주시  10708
3   전남 광양시   6892
4   전남 담양군   6621
5   전남 곡성군   4598
6   전남 구례군   4246
7   전남 고흥군   9039
8   전남 보성군   7093
9   전남 화순군   5967
10  전남 장흥군   5593
11  전남 강진군   5366
12  전남 해남군  11074
13  전남 영암군   6917
14  전남 무안군   7172
15  전남 함평군   5522
16  전남 영광군   6048
17  전남 장성군   6079
18  전남 완도군   3341
19  전남 진도군   4579
20  전남 신안군   6825

In [75]:
# 경북 데이터 헤더 설정
df_gyeongbuk.columns = ['행정구역', '농가_소계', '농가_전업', '농가_겸업', '농가인구_소계', '농가인구_남자', '농가인구_여자']
df_gyeongbuk = df_gyeongbuk.drop([0, 1, 2]).reset_index(drop=True)

# 경북 각 시/군별 데이터 추출 (합계 제외)
gyeongbuk_data = []
for _, row in df_gyeongbuk.iterrows():
    if row.iloc[0] != '합계':  # 합계 행 제외
        region_name = f"경북 {row.iloc[0]}"  # "경북 포항시" 형태
        farm_count = row.iloc[1]  # 농가 소계
        gyeongbuk_data.append({'지역': region_name, '농가수': farm_count})

# 경북 테이블 생성
df_gyeongbuk_summary = pd.DataFrame(gyeongbuk_data)
print(df_gyeongbuk_summary)

        지역    농가수
0   경북 김천시  12605
1   경북 안동시  11416
2   경북 구미시   9912
3   경북 영주시   7992
4   경북 영천시   7968
5   경북 상주시  13652
6   경북 문경시   7539
7   경북 경산시   6812
8   경북 의성군   8637
9   경북 청송군   5299
10  경북 영양군   2896
11  경북 영덕군   3102
12  경북 청도군   6582
13  경북 고령군   3930
14  경북 성주군   5836
15  경북 칠곡군   4601
16  경북 예천군   7974
17  경북 봉화군   5716
18  경북 울진군   4151
19  경북 울릉군    452

In [76]:
# 경남 데이터 헤더 설정
df_gyeongnam.columns = ['행정구역', '농가_소계', '농가_전업', '농가_겸업', '농가인구_소계', '농가인구_남', '농가인구_여']
df_gyeongnam = df_gyeongnam.drop([0, 1]).reset_index(drop=True)

# 경남 각 시/군별 데이터 추출 (합계 제외)
gyeongnam_data = []
for _, row in df_gyeongnam.iterrows():
    if row.iloc[0] != '합계':  # 합계 행 제외
        region_name = f"경남 {row.iloc[0]}"  # "경남 창원시" 형태
        farm_count = row.iloc[1]  # 농가 소계
        gyeongnam_data.append({'지역': region_name, '농가수': farm_count})

# 경남 테이블 생성
df_gyeongnam_summary = pd.DataFrame(gyeongnam_data)
print(df_gyeongnam_summary)

        지역    농가수
0   경남 진주시  12211
1   경남 통영시   3269
2   경남 사천시   5654
3   경남 김해시   8175
4   경남 밀양시   9431
5   경남 거제시   5595
6   경남 양산시   2761
7   경남 의령군   3956
8   경남 함안군   5113
9   경남 창녕군   6977
10  경남 고성군   5370
11  경남 남해군   6645
12  경남 하동군   5974
13  경남 산청군   5376
14  경남 함양군   4708
15  경남 거창군   5535
16  경남 합천군   6353

In [77]:
# 제주도 데이터 읽기
df_jeju = pd.read_csv("../data/raw/농가_및_농가인구_제주.csv")

# 제주 데이터 헤더 설정
df_jeju.columns = ['행정구역', '농가_소계', '농가_전업', '농가_겸업', '농가인구_소계', '농가인구_남자', '농가인구_여자']
df_jeju = df_jeju.drop([0, 1]).reset_index(drop=True)

# 제주 각 시별 데이터 추출 (합계 제외)
jeju_data = []
for _, row in df_jeju.iterrows():
    if row.iloc[0] != '합계':  # 합계 행 제외
        region_name = row.iloc[0]  # "제주시", "서귀포시" 그대로
        farm_count = row.iloc[1]  # 농가 소계
        jeju_data.append({'지역': region_name, '농가수': farm_count})

# 제주 테이블 생성
df_jeju_summary = pd.DataFrame(jeju_data)
print(df_jeju_summary)

     지역    농가수
0   제주시  17170
1  서귀포시  13186

In [78]:
# 모든 지역 테이블을 하나로 합치기
df_all_regions = pd.concat([
    df_sejong_summary,
    df_gyeonggi_summary,
    df_gangwon_summary,
    df_chungbuk_summary,
    df_chungnam_summary,
    df_jeonbuk_summary,
    df_jeonnam_summary,
    df_gyeongbuk_summary,
    df_gyeongnam_summary,
    df_jeju_summary
], ignore_index=True)

print(df_all_regions)

         지역    농가수
0       세종시   6573
1    경기 수원시   3575
2    경기 성남시   1137
3    경기 안양시   1020
4    경기 부천시   1036
..      ...    ...
140  경남 함양군   4708
141  경남 거창군   5535
142  경남 합천군   6353
143     제주시  17170
144    서귀포시  13186

[145 rows x 2 columns]

In [85]:
import json

# 전체 테이블을 JSON으로 저장 (한국어 그대로)
with open('../docs/data/농가수_전체.json', 'w', encoding='utf-8') as f:
    json.dump(df_all_regions.to_dict('records'), f, ensure_ascii=False, indent=2)

# 전체 테이블을 CSV로 저장
df_all_regions.to_csv('../data/농가수_전체.csv', index=False, encoding='utf-8-sig')

print("저장 완료!")

저장 완료!